<nav>
    <ul>
        @{
            var path = new Uri(_navigation.Uri).LocalPath.ToLowerInvariant();
        }
        @foreach (var bookmark in Bookmarks)
        {
            <li>
                <a class="@(path.StartsWith(bookmark.Url.ToLowerInvariant()) ? "selected" : "")"
                   href="@bookmark.Url">
                    @GetIcon(bookmark.Url, bookmark.IconUrl)
                    <p>
                        @bookmark.Name
                    </p>
                </a>
            </li>
        }
    </ul>
</nav>

@code
{
    private static RenderFragment? GetIcon(string url, string? iconUrl) =>
        iconUrl is not null
            ? @<img alt="Icon"
                    class="icon"
                    src="@iconUrl" />
            : url switch
            {
                "/channels" => @<svg class="icon"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 64 64">
                                   <path fill="currentColor"
                                         d="M 38.828125 7.0078125 C 38.318375 7.0520625 37.82425 7.2918437 37.46875 7.7148438 L 29.644531 17.017578 L 23.435547 10.609375 C 22.667547 9.816375 21.401422 9.7964531 20.607422 10.564453 C 19.814422 11.332453 19.7935 12.599578 20.5625 13.392578 L 25.025391 18 L 16 18 C 12.141 18 9 21.14 9 25 L 9 47 C 9 50.86 12.141 54 16 54 L 48 54 C 51.859 54 55 50.86 55 47 L 55 25 C 55 21.14 51.859 18 48 18 L 34.042969 18 L 40.529297 10.287109 C 41.240297 9.4421094 41.131156 8.1817031 40.285156 7.4707031 C 39.862656 7.1147031 39.337875 6.9635625 38.828125 7.0078125 z M 16 22 L 48 22 C 49.654 22 51 23.346 51 25 L 51 47 C 51 48.654 49.654 50 48 50 L 16 50 C 14.346 50 13 48.654 13 47 L 13 25 C 13 23.346 14.346 22 16 22 z M 25 26 C 20.589 26 17 29.589 17 34 L 17 38 C 17 42.411 20.589 46 25 46 L 33 46 C 37.411 46 41 42.411 41 38 L 41 34 C 41 29.589 37.411 26 33 26 L 25 26 z M 46 27 C 44.895 27 44 27.895 44 29 C 44 30.105 44.895 31 46 31 C 47.105 31 48 30.105 48 29 C 48 27.895 47.105 27 46 27 z M 25 30 L 33 30 C 35.206 30 37 31.794 37 34 L 37 38 C 37 40.206 35.206 42 33 42 L 25 42 C 22.794 42 21 40.206 21 38 L 21 34 C 21 31.794 22.794 30 25 30 z M 46 34.75 C 44.895 34.75 44 35.645 44 36.75 C 44 37.855 44.895 38.75 46 38.75 C 47.105 38.75 48 37.855 48 36.75 C 48 35.645 47.105 34.75 46 34.75 z" />
                               </svg>,
                _ => null
            };
}
